@font-face {
	font-family: ceedfont;
	src: url('../fonts/Unbounded-VariableFont_wght.ttf');
}
body {
	background-color:#F4F6F8 !important;
	font-family:ceedfont !important;
}
header {
	background-color:#FDF5EA;
	padding:10px;
	background-image:url('../img/header-bg.png');
	background-position: 70px 20px;
	background-size:90%;
	background-repeat:no-repeat;
	padding-bottom:30px;
	margin:10px;
}
section {
	padding-top:50px;
	padding-bottom:30px;
}
img {
	width:100%;
}
.text-right {
	text-align:right !important;
}
.text-left {
	text-align:left !important;
}
.btn {
	font-size:14px !important;
}
.bi-list {
	font-size: 30px;
	color:#FFF;
}
.main-menu-box {
	background-color:#A96B1F;
	border-radius:10px;
	width:100%;
	padding:10px;
	margin-top:10px;
}
.menu-lg {
	display:block;
}
.menu-resp {
	display:none;
}
.logo img {
	width:100%;
}
.menu-lg {
	line-height:50px;
	text-align:right;
}
.menu-lg a {
	color:#FFF;
	text-decoration:none;
	font-size:14px;
	text-transform:uppercase;
	padding:10px;
}
.btn-demo {
	border:#FDF5EA 2px solid !important;
	border-radius:15px !important;
	color:#FFF !important;
	background-color:#EE962C !important;
	font-weight:400!important;
}
.btn-login {
	border:#FDF5EA 1px solid !important;
	border-radius:15px !important;
	color:#FFF !important;
	background-color:#A96B1F !important;
}
.btn-holder {
	line-height: 45px;
}
.head-title {
	margin-top:50px !important;
}
.head-title h1 {
	font-weight:400;
}
.palesky {
	color:#7F8795;
}
.orange {
	color:#A96B1F;
}
header p {
	font-size:14px;
	font-weight:200 !important;
}
.puzzle {
	/* width:300px; */
	width: 350px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
}
.puzzle img {
	width:100%;
}
.jix-mideset {
    height: 147px;
    width: 147px;
    position: absolute;
    border-radius: 15px;
    cursor: pointer;
    margin-top: -300px;
}
.jix-play {
	height: 147px;
    width: 147px;
    position: absolute;
    border-radius: 15px;
    cursor: pointer;
    margin-top: -300px;
	margin-left: 155px;
}
.jix-learning {
	height: 147px;
    width: 147px;
    position: absolute;
    border-radius: 15px;
    cursor: pointer;
    margin-top: -145px;
	margin-left: 155px;
}
.jix-thinking {
	height: 147px;
    width: 147px;
    position: absolute;
    border-radius: 15px;
    cursor: pointer;
    margin-top: -145px;
}
.buddy-bloom img {
	width:100%;
}
.cardbox {
	padding:10px;
	border:#EAEAEA 1px solid;
	border-radius:5px;
	background-color:#FFF;
	height:130px;
}
.clear-cardbox {
	margin-bottom:70px;
	margin-top:80%;
}
.cardbox img {
	width:100%;
}
.cardbox h4 {
	font-size:18px;
}
.cardbox p {
	font-size:14px;
	font-weight:300;
}
.deepdive {
	background-image: linear-gradient(45deg,#379BA3, #4771C9);
}
.ct-bt {
	padding:10px 15px;
	border-radius:30px;
	border:#FADEBE 2px solid;
	background-color:#FDF5EA;
	color:#D98928;
}
.deepdive h2 {
	font-weight:400;
	margin:45px 0px 25px 0px;
}
.deepdive h2, .deepdive p {
	color:#FFF;
	font-weight:300;
}
.pendulam-lg {
	display:block;
}
.pendulam-mb {
	display:none !important;
}
.pendulam-blue {
	background-image:url('../img/blue-pendulam.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	height:300px;
	margin:18px;
}
.pendulam-yellow {
	background-image:url('../img/yellow-pendulam.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	height:300px;
	margin:18px;
}
.pendulam-wt-box {
	padding:10px 15px;
	background-color:#FFF;
	color:#000;
	border-radius:10px;
	font-size:12px;
}
.long-rt-arrow img {
	width:93%;
}
.circle-txt {
    font-size: 12px;
    color: #FFF;
    height: 100px;
    margin-top: 155px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.medal-block {
	padding: 10px 50px !important;
}
.medal-txt {
	line-height:35px;
	color:#FFF;
}
.program-benefits .b-title {
	font-size:16px !important;
	font-weight:400;
}
.program-benefits .b-desc {
	font-size:14px !important;
	font-weight:300;
}
.benefit-points .row {
	margin-bottom:15px !important;
}
.cherish-voice {
	background-color:#FFFAF2;
}
.testimonial-block {
	margin-top:50px;
}
.testimonial-block .row {
	margin-bottom:50px;
}
.red-hd {
	background-image:url('../img/red-ts.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	height:300px;
	padding-top:60px;
}
.blue-hd-1 {
	background-image:url('../img/blue-ts.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	height:300px;
	padding-top: 98px;

}
.yellow-hd {
	background-image:url('../img/yellow-ts.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	height:300px;
	padding-top: 52px;
}
.blue-hd-2 {
	background-image:url('../img/blue-ts-2.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	height:300px;
	padding-top: 90px;
}
.orange-hd {
	background-image:url('../img/orange-ts.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	height:300px;
	padding: 78px 0px 0px 45px !important;
}
.seablue-hd {
	background-image:url('../img/seablue-ts.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	height:300px;
	padding-top: 60px;
}
.tst-cnt {
	width: 200px;
    margin-left: auto;
    margin-right: auto;
	font-weight:300;
	font-size:12px;
	color:#FFF;
}
.red-hd .testby {
	width: 220px;
    margin-left: 80px;
}
.testimg {
	padding-right:0px !important;
}
.testname {
	font-size:12px;
	color:#FFF;
}
.blue-hd-1 .testby {
	width: 220px;
    margin-left: 110px;
}
.yellow-hd .testby {
	width: 220px;
    margin-left: 60px;
}
.blue-hd-2 .testby {
	width: 220px;
    margin-left: 100px;
}
.orange-hd .testby {
	width: 220px;
    margin-left: 80px;
}
.seablue-hd .testby {
	width: 220px;
    margin-left: 60px;
}
.aboutceed {
	background-color:#F2FBFB;
}
.orange-txt {
	color:#EE962C;
}
.aboutceed .palesky {
	font-weight:300;
}
.palesky-subtle{
	font-size:14px;
}
footer {
	background-color:#333944;
}
footer .social-ico {
	width:30px;
	margin-top:40px;
}

.social-group {
	text-align:right;
}
.copyright-txt {
	font-size:12px;
	color:#FFF;
	font-weight:300;
}
@media screen and (max-width:990px) {
	header {
		background-color: #FDF5EA !important;
		padding: 10px;
		background-image: url('../img/header-bg.png') !important;
		background-position: 100% 100% !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		padding-bottom: 40px !important;
	}
	header .container-lg {
		padding: 0px !important;
	}
	.main-menu-box {
		background-color: #A96B1F;
		margin-top: 15px !important;
		border-radius: 10px;
		width: 100%;
		padding: 5px !important;
	}
	.menu-lg {
		display:none;
	}
	.menu-resp {
		display:block;
		line-height:70px;
	}
	.menu-resp a {
		color:#FFF;
		text-decoration:none;
		font-size:14px;
	}
	.resp-menu {
		position: fixed;
        height: 100vh;
        width: 80%;
        background-color: #fbfbfa;
        display: none;
        top: 0px;
        left: 0px;
		padding: 20px;
	}
	.resp-menu .resp-menu-item {
		line-height:30px !important;
		margin-top:10px;
	}
	.menu-header {
		border-bottom: #a96b1f 1px solid;
		padding-bottom:10px;
        margin-bottom: 20px;
	}
	.menu-header img {
		width:100px;
	}
	.menu-header span {
		float:right;
	}
	.resp-menu-item {
		width:100%;
	}
	.resp-menu .resp-menu-item a {
		color:#000;
		text-transform:uppercase;
	}
	.resp-menu-item i {
		float:right;
	}
	.clear-cardbox {
		margin-bottom: 30px !important;
		margin-top: 10px;
	}
	.buddy-bloom {
		margin-top:30px !important;
	}
	.pendulam-lg {
		display:none !important;
	}
	.pendulam-mb {
		display:block !important;
		padding: 0px 15px;
        width: 385px;
        margin-left: auto !important;
        margin-right: auto !important;
	}
	.blue-circle {
		background-image:url('../img/blue-circle.png');
		background-size:contain;
		background-repeat:no-repeat;
		height: 110px;
		width: 110px !important;
		float:left;
	}
	.yellow-circle {
		background-image:url('../img/yellow-circle.png');
		background-size:contain;
		background-repeat:no-repeat;
		height: 110px;
		width: 110px !important;
		float:left;
	}
	.blanker {
		height: 110px;
		width: 110px !important;
		float:left;
	}
	.rt-arrow {
		float:left;
		width: 100px;
		background-image:url('../img/right-arrow.png');
		background-size:contain;
		background-repeat:no-repeat;
		height:100px;
	}
	.circle-txt {
		font-size: 12px;
		color: #FFF;
		height: 110px !important;
		margin-top: 0px !important;
		align-items: center;
		display: flex;
		justify-content: center;
	}
	.down-arrow {
		float:left;
		width: 100%;
		background-image:url('../img/down-arrow.png');
		background-size:contain;
		background-repeat:no-repeat;
		height:110px;
		background-position:center;
	}
	.pendulam-mb .medal-block {
		margin-top:20px;
	}
	.pendulam-mb .medal-block img {
		width:50px;
	}
	.pendulam-mb .medal-block .medal-txt {
		font-size: 20px !important;
	}
	.down-angle-arrow {
		float:left;
		width: 100%;
		background-image:url('../img/down-angle-arrow.png');
		background-size:contain;
		background-repeat:no-repeat;
		height:110px;
		background-position:center;
	}
	.program-benefits img {
		margin-bottom:20px;
	}
	.tick-circle img {
		width:30px !important;
	}
	.red-hd .testby {
		width: 220px;
		margin-left: 120px;
	}
	.blue-hd-1 .testby {
		width: 220px;
		margin-left: 140px;
	}
	.yellow-hd .testby {
		width: 220px;
		margin-left: 102px;
	}
	.blue-hd-2 .testby {
		width: 220px;
		margin-left: 140px;
	}
	.orange-hd .testby {
		width: 220px;
		margin-left: 122px;
	}
	.seablue-hd .testby {
		width: 220px;
		margin-left: 115px;
	}
	.brain img, .plant img, .joystick img {
		width:30px;
	}
	.copyright-txt {
		text-align:center !important;
		margin-top: 10px !important;
	}
	.foot-logo {
		padding-top: 30px;
	}
	footer .social-ico {
		width: 30px;
		margin-top: 35px;
	}
}