.left-side-card {
  background-color: #1a2035 !important;
  color: #fff;
  padding: 40px;
  height: 100%;
}
.left-side-card h2 {
  font-weight: 600;
  margin: 15px 0;
}
.left-side-card p {
  font-size: 15px;
  line-height: 1.6;
  max-width: 350px;
}
.left-side-card .illustration {
  margin-top: 20px;
  width: 70%;
  max-width: 200px;
}
.logo {
  font-size: 65px !important;
  font-weight: bold;
}
.login-card {
  border: none;
  border-radius: 10px;
}
.btn-bg{
    background: #1a2035;
}
.btn:hover {
    background: #1a2035;
    color: white
}
#loginCheck:active {
    background: #1a2035;
    color:white;
}
#loginCheck:hover {
    background: #1a2035;
    color:white;
}
#loginCheck:disabled {
    background: #1a2035 !important;
    color: #fff !important;
    opacity: 1 !important; 
    cursor: not-allowed;
}
#alertbox {
    transition: opacity 0.5s ease-in-out;
}



.dataTables_filter {
    text-align: right !important;
}
.dataTables_wrapper {
    overflow-x: hidden;
}
.dt-search, .dt-length{
  padding:2px 2px 17px !important;
  
}
.dataTables_paginate {
    text-align: right !important;
}

.logo-header {
    display: flex;
    justify-content: center; /* centers logo horizontally */
    align-items: center;     /* centers logo vertically */
}
.logo-header .logo img {
    display: block;
    margin: 0 auto;
}

#roleTable td {
  text-align: left !important;
}

#roleTable td ul {
    list-style: none;   /* remove default bullets */
    padding-left: 0;
}

#roleTable td ul li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 3px;
}

#roleTable td ul li::before {
    content: "✔";       /* tick symbol */
    position: absolute;
    left: 0;
    color: green;       /* tick color */
    font-weight: bold;
}
.alert{
  position: fixed !important; 
  top: 20px !important;
  left:50% !important; 
  transform:translateX(-50%) !important; 
  z-index: 1050 !important; 
  min-width: 300px !important;
}
.alert-success {
    border: 2px solid green;
}
.alert-danger{
  border:2px solid rgba(196, 37, 37, 0.726)
}

.login-alert{
    padding: 5px;
    background: white;

}
.nav-link.active {
    background-color: #03142e;
    font-weight: bold !important;
}
.dt-type-numeric{
  text-align: left;
}
/* dashboard */
 .welcome-container {
        display: flex;
        justify-content: center; /* Horizontal center */
        align-items: flex-start; /* Align to top */
        padding: 40px 20px; /* Top padding so it’s not glued to the edge */
    }
    .welcome-card {
        background: linear-gradient(90deg, #7b2ff7, #f107a3);
        color: #fff;
        border-radius: 15px;
        padding: 73px;
        margin-top: 60px;
        text-align: center;
        max-width: 680px;
        width: 100%;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }
    .welcome-card img {
        width: 80px;
        margin-bottom: 15px;
    }
    .welcome-card h2 {
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 10px;
    }
    .welcome-card p {
        font-size: 16px;
        margin: 0;
    }
/***Responsive Styles ***/
@media (max-width: 767px) {
  .left-side-card {
    padding: 20px;
    height: auto;
  }
  .logo {
    font-size: 45px !important;
  }
  .illustration {
    width: 60%;
    max-width: 150px;
  }
  .login-card {
    width: 90% !important;
  }
}
